:root {
  --background-color: #eee3cb;
  --border-Color: #b7c4cf;
  --table-header-color: #b7c4cf84;
  --notesColor: #6b685a;
}

body {
  background-color: var(--background-color);
  padding: 20px;
  font-family: "Fredoka One", cursive;
  font-family: "Quicksand", sans-serif;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 5vw;
}
.mainList,
.shortlistList,
.archivedList {
  border: 2px solid var(--border-Color);
  border-radius: 5px;
  margin: 30px 0;
  padding: 10px;
  transition: all 1s ease-in-out;
}

.mainList .tableHeader,
.shortlistList .tableHeader,
.archivedList .tableHeader {
  background-color: var(--notesColor);
  color: aliceblue;
  padding: 10px 0;
  font-weight: 700;
  font-size: 2.5vw;
  border-radius: 5px;
}

.mainList li ul,
.shortlistList li ul,
.archivedList li ul,
.mainList li .createNoteform,
li.tableButton {
  /* background-color: aqua; */
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
li h3 {
  text-align: center;
}
.note li,
.shortlistNote li,
.tableHeader li {
  flex-basis: 100px;
  flex-shrink: 1;
  flex-grow: 1;
  display: block;
  align-self: center;
  margin: 0 5px;
  overflow: hidden;
  max-height: 40px;
}
.tableButton {
  padding: 3px;
  border: 2px solid var(--border-Color);
  display: inline-block;
  border-radius: 5px;
}
.tableButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

li.editButtons {
  display: flex;
  justify-content: space-between;
}
li.editButtons span:hover {
  cursor: pointer;
  transform: scale(1.1);
}
li.note,
li.shortlistNote {
  border-radius: 5px;
  background-color: var(--table-header-color);
}

input.nameField,
input.contentField {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}
li select {
  color: var(--notesColor);
  font-weight: 700;
}

.saveNote:hover {
  cursor: pointer;
}
input.nameField {
  max-width: 100px;
}

.archivedList {
  display: none;
}
.archivedList.show {
  display: block;
}
.editNote.hideButtons,
.archiveNote.hideButtons,
.deleteNote.hideButtons,
.returnToActive.hideButtons {
  display: none;
}
